<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>549706415907-tmsentqeg48p9enc1a93vi8vfkd7d915.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549706415907-tmsentqeg48p9enc1a93vi8vfkd7d915</string>
	<key>API_KEY</key>
	<string>AIzaSyBY3HMne5_cPjOW3X-JuyWwAqw_aAURKew</string>
	<key>GCM_SENDER_ID</key>
	<string>549706415907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.edu.diane.SnapChatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-23c0b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-23c0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:549706415907:ios:dea340e128d75b17</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatclone-23c0b.firebaseio.com</string>
</dict>
</plist>